{{ define "title" }}Create Question{{ end }}
{{ define "body" }}

    <h1>Add a new question</h1>

    <div id="add-question">

        <form hx-post="/create-question/" hx-target="#response">

            <label for="quiz_name">Quiz Name</label>
            <input type="text" name="quiz_name" id="quiz_name">

            <label for="quiz_id">Quiz ID</label>
            <input type="text" name="quiz_id" id="quiz_id" required minlength="1">

            <label for="sort_order">Question number</label>
            <input type="number" name="sort_order" id="sort_order" min="1" required>

            <label for="question">Question</label>
            <input type="text" name="question" id="question" minlength="10" required>

            <label for="answer_1">Answer 1</label>
            <input type="text" name="answer_1" id="answer_1">

            <label for="answer_2">Answer 2</label>
            <input type="text" name="answer_2" id="answer_2">

            <label for="answer_3">Answer 3</label>
            <input type="text" name="answer_3" id="answer_3">

            <label for="answer_4">Answer 4</label>
            <input type="text" name="answer_4" id="answer_4">

            <label for="correct_answer">Correct answer</label>
            <input type="number" name="correct_answer" id="correct_answer" min="1" max="4" required>

            {{ if .isAdmin }}
                <input type="hidden" name="admin" value="ihavethepower">
            {{ end }}

            <button type="submit" hx-on:click="document.getElementById('response').innerHTML = ''">
                Create
                <span class="htmx-indicator spinner">
                    <svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M734 264q-46-46-106-71-62-27-129-27-91 0-168 46-75 44-119 119-46 78-46 168t46 168q44 75 119 119 77 46 168 46 76 0 144-33 65-32 112-88.5T820 582h-86q-26 74-90.5 120.5T499 749q-68 0-125.5-34t-91-91T249 499t33.5-125 91-90.5T499 250q50 0 97 20 44 19 78 54L540 457h291V166z"/></svg>
                </span>
            </button>

        </form>

        <div id="response"></div>

    </div>

{{ end }}